<h1>coucou</h1>
<div style="margin: 20px 0">
    <img width="200px;" src="{{ img }}" alt="Mon logo">
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis delectus earum explicabo iusto minus quisquam rem! Ad consequatur cupiditate eius illo ipsa mollitia non nostrum quibusdam quisquam voluptas? Dignissimos, nam?</p>